<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="css/assignment1.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="/js/d3.js" charset="utf-8"></script>

<div class="jumbotron login-jumbo">
<h1>Welcome to Insta-Facebook!</h1>
<button class="btn btn-lg">
  <div><a href="/auth/instagram">
  <i class="fa fa-instagram fa-lg"></i>
  Login with Instagram</a></div>
</button>
<button class="btn btn-lg">
  <div><a href="/auth/facebook">
  <i class="fa fa-facebook-official fa-lg"></i>
  Login with Facebook</a></div>
</button>
</div>
