body
{
  background-color: #F0F8FF;
}

.jumbotron
{
  margin-top: 20px;
  background-color: #ADD8E6;
}

.container
{
  margin-top: 10px;
}

.login-jumbo{
 text-align: center;
}

.login-jumbo > button{
  clear: both;
}

.panel
{
  text-align: center;
}

img.img-responsive
{
	display: block;
	margin-left:auto;
	margin-right:auto;
}
